html, body {
    font-family 'Oswald'
    font-weight 300
    color white
}

.highlight {
    color corDestaque
}


.text-center {
    text-align center
}

h1 {
    font-size 62px
    line-height 1.2
    
    +below(850px){
        font-size 50px
    }
    +below(450px){
        font-size 40px
    }
}